[2016-12-28 15:22] davydovanton opened #9 "Add 'complexity' attribute for tasks"
I think this attribute will be useful for searching tasks.

For this we need:
- [ ] create complexity column with default value `easy`;
- [ ] add select field to new task form (default `easy` too);
- [ ] complexity field should be required;
- [ ] update admin application for new attribute (display in `tasks#show` and update update form);

[2016-12-28 15:28] davydovanton opened #10 "Add 'repository' attribute for tasks"
I think this attribute will be useful for searching tasks.

For this we need:
- [ ] create repository column;
- [ ] add input field to new task form;
- [ ] update export logic for getting repository value;
- [ ] repository field should be required;
- [ ] update admin application for new attribute (display in `tasks#index`, `tasks#show` and update update form);

[2016-12-28 16:20] davydovanton opened #11 "Update design for web app"

[2016-12-28 18:11] vladimirich commented on #10
It's ok if I'll get this issue, but start working on it at New Year holidays?

[2016-12-29 04:09] charlie-wasp commented on #9
I can take it for the holidays, is it ok?

[2016-12-29 10:28] davydovanton commented on #9
yep 👍

[2016-12-29 13:56] Nitrino commented on #11
I'll take this issue

[2016-12-29 17:12] DaZzz commented on #11
Hey there! Just prepared rough sketch. We can go in this direction. I didn't change structure much though.

![oss-board](https://cloud.githubusercontent.com/assets/2707291/21549300/5c51051c-ce02-11e6-93ae-3d800bba55ef.png)

As for the logo I was going with this analogy:

![screen shot 2016-12-29 at 20 10 35](https://cloud.githubusercontent.com/assets/2707291/21549385/f42e3ada-ce02-11e6-8a8e-c2825c

[2016-12-29 19:08] davydovanton commented on #11
wow, @DaZzz I like this 👍

[2016-12-29 19:13] FanaHOVA commented on #11
Looks really good!

[2016-12-29 19:14] davydovanton commented on #11
@DaZzz and also I really like lifebuoy idea  👍

[2016-12-29 19:55] davydovanton commented on #11
@DaZzz and just ideas for discussion:
1. What do you think if we make background colors less contrast?
2. Add top line for header texts ("what is this", "latest issues")
3. Change background color for footer for greater compatibility

[2016-12-29 20:21] DaZzz commented on #11
1. I can work more on colours once we setup with all of the structure. Actually we can even do it once markup is ready. Since it is a mater of one variable, right? That's how I usually do it to be honest. 🙃
2. What do you mean by top line? Can you give me some kind of sketch of your idea?
3. Compatibility with what? Didn't fully get it. Can you elaborate?

@davydovanton Btw, wanted to sync on site

[2016-12-29 20:37] davydovanton commented on #11
1. yep, you're right
2. I mean something like this:
![screenshot 2016-12-29 23 28 49](https://cloud.githubusercontent.com/assets/1147484/21554306/9a9d20f4-ce1f-11e6-9840-7dcb915eb7c6.jpeg)

3. I mean footer color (we will fix it in future)

@DaZzz yes, your sitemap is correct.

About steps:

Steps  for developers good, but I think we need to fix maintainer steps to:
1. Create a task
2. Wait for co

[2016-12-29 20:57] DaZzz commented on #11
@davydovanton thanks for corrections. As for heading I think it's quite unusual to add line on top. The point of this line is to push heading away from body text. I will play around with headings and we will settle on most appropriate option. 👌

I just noticed that we kinda missing mentoring part of the website. Maybe we don't advertise it enough that maintainers will be helping contributors and g

[2016-12-29 21:47] davydovanton commented on #11
so, mentoring the most important part of this application that's why yes we should to notice this on the landing page :grin:

[2016-12-30 01:39] ai commented on #11
Wow! Really great start.

[2016-12-30 01:41] ai commented on #11
I think maybe should copy few things from Cult:

* Intro is small and user see tasks without a scroll. Content-first UX principle is good.
* Tasks cards are big and contain most of information.

[2016-12-31 01:12] davydovanton opened #17 "Use fabrication gem in all tests"
What we want: we need to use [fabrication](https://www.fabricationgem.org/) gem in our tests instead create manually objects.

For this, we need to add [hanami-fabrication](https://github.com/jodosha/hanami-fabrication) gem to project, configure this and replace all `repo.create` to fabrication 🚀

[2016-12-31 09:55] mgrachev commented on #17
I will take it.

[2016-12-31 22:05] redfield opened #18 "МРКЩИ"
Малова-то угара, тащемто например

[2016-12-31 22:06] mrThe commented on #18
МРКЩИ

[2016-12-31 22:06] D-moll commented on #18
хуй.

[2016-12-31 22:06] Bugagazavr commented on #18
МРКЩИ

[2016-12-31 22:07] crackedmind commented on #18
МРКЩИ!

[2016-12-31 22:07] #18 closed

[2017-01-01 19:50] #17 closed

[2017-01-02 12:15] charlie-wasp commented on #9
I opened PR #24 for this task

[2017-01-02 19:37] moofkit commented on #10
@nsklkn sorry man. I had some free time for oss and this issue seems suitable for me

[2017-01-02 19:45] davydovanton commented on #10
@moofkit sorry, but I want to see repository name column for future grouping and searching by this field. That's why `repository_url` unnecessary for us now 😞

[2017-01-02 19:47] davydovanton commented on #10
and also I think that we need to use `optional` field for this attribute

[2017-01-02 20:00] moofkit commented on #10
@davydovanton So, we need `optional` `repository_name` attribute. Is it correct?

[2017-01-02 20:13] moofkit commented on #10
According gh [api documentation](https://developer.github.com/v3/repos/#response-3) there are 2 attributes connected with name: `name` and `full_name`. Which is need to use?
Also if user input repo name by himself, need we some normalization or format validation?

[2017-01-02 20:20] davydovanton commented on #10
@moofkit yep, I want to see `repository_name`. We can use it from github link or we can ask the user to enter it

[2017-01-03 23:36] davydovanton commented on #10
closed by #25

[2017-01-03 23:36] #10 closed

[2017-01-05 13:35] #9 closed

[2017-01-06 20:37] DaZzz commented on #11
After playing around with the list of issues here is the latest version of __more descriptive__ kind of cards. I'm also planning to introduce more compact headlines-only layout. We can actually try to put it on the main page similar to Cult which sounds like a good idea to me.

![landing cards](https://cloud.githubusercontent.com/assets/2707291/21732119/5cead0f0-d471-11e6-8b29-52ca6c30866a.png)

[2017-01-07 00:04] ai commented on #11
@DaZzz awesome! :heart_eyes:

[2017-01-07 00:06] davydovanton commented on #11
@DaZzz great job 👍

[2017-01-08 13:50] davydovanton opened #29 "Add new field time_estimate"
It will be helpful for understanding how many time you need to spend on task

For this we need:

- create time_estimate column;
- create the hash of values ('few days', 'more than a week', 'more than two weeks', 'more than month');
- add 'select' field to new task form;
- 'few days' options should be default;
- update admin application for the new attribute (display in tasks#index, tasks#show and

[2017-01-08 13:55] mgrachev commented on #29
I will take it.

[2017-01-08 13:58] davydovanton commented on #29
@mgrachev 👍

[2017-01-08 14:23] davydovanton opened #30 "Reduce memory allocation for AnalyticReporter service"
I created [this service](https://github.com/davydovanton/ossboard/blob/master/lib/ossboard/services/analytic_reporter.rb) for calculating data for admin charts. But I think we can make this code better.

It's a not easy task

[2017-01-08 18:43] ai opened #31 "Per company lists"
@gaserd find a nice idea for his OS board — allow companies to have own lists of task. So it will be like filter. We have all tasks on main page. But have a “editor choice” by some company.

It could be a good promotion for other companies to create a tasks (even to side projects). Also users like “editor choice” like we see in Cult of Martians.

[2017-01-10 11:31] davydovanton commented on #31
@ai now we have repository filter. 'Company' list is a good idea, but I think we need to use 'organisation' name here.

[2017-01-10 11:32] ai commented on #31
Sure. Organization is better.

[2017-01-10 11:36] ai commented on #31
But it is about repository. Organization could promote different repositories (even not own). Like we do in the Cult. Also having maybe some branding will be nice for this organizations pages.

When you have big lost (like iTunes or Google Play). Common filter UI is bad. But some small groups like "Scary movies", "This year Oscar" are much better.

So organizition tasks groups should not be just a

[2017-01-10 11:54] davydovanton commented on #31
Yep, agree with you. I think it will be helpful for organizations like rom, hanami, dry, grape, Babel, etc. Because these organizations have 7+ different repositories and it will strange if we do not group the repositories in one organization.

Also, I believe we can use a unique color block or something like this for each organization.

What do you think @DaZzz?

[2017-01-10 18:06] DaZzz commented on #31
Sounds good to me. Still need to figure out how to do _branding_ properly. I kinda like how organisations can tune their medium blog appearance to align it with brand guidelines. Although I don't know how it works honestly.

I will investigate more on this issue. Still want to do redesign of existing pages first though. 😅

[2017-01-11 15:50] DaZzz commented on #11
Compact view:
![landing cards list](https://cloud.githubusercontent.com/assets/2707291/21855234/c26813c8-d82e-11e6-8f9e-c5029232e3df.png)

[2017-01-11 15:52] davydovanton commented on #11
@DaZzz awesome 👍

[2017-01-11 15:55] davydovanton commented on #11
@DaZzz what do you think, when we can use your work and will update application design? :)

[2017-01-11 16:08] DaZzz commented on #11
@davydovanton Well I cannot stop you, but I would delay to next week. Something may change. I hope to have most of the pages ready. 😅  At least `Landing`/`Task CRUD`/`Profile`.

[2017-01-11 16:11] davydovanton commented on #11
@DaZzz cool, good news 👍
feel free for any delay what you need :)

[2017-01-11 17:05] DaZzz commented on #11
Task > Show:
![landing task](https://cloud.githubusercontent.com/assets/2707291/21858201/4a69666e-d839-11e6-9531-2f052c4ac22c.png)

[2017-01-11 19:26] DaZzz commented on #11
Task > New:

![landing task new](https://cloud.githubusercontent.com/assets/2707291/21863057/ebb25234-d84c-11e6-9597-72d2bfbaf0f1.png)

[2017-01-11 22:16] davydovanton commented on #11
@DaZzz you forgot about "export" button in Task > New page ;)

[2017-01-12 22:09] #29 closed

[2017-01-13 13:48] KELiON opened #37 "Error: md body is missing"
I'm trying to add a task from issue. Steps:

1. Click "export from";
1. Paste link to github issue;
1. Update task body and change some other fields;
1. Click "Preview"
1. Click "Create"
1. Error "md body is missing" shown, but body was not empty

### Gif
![](http://g.recordit.co/LggYAHwDjF.gif)

[2017-01-13 13:50] KELiON opened #38 "500 error shown for properly filled task form"
After error from https://github.com/davydovanton/ossboard/issues/37 I've changed task body and clicked "create" button, but `500 – Internal server error` was shown. Also, after refreshing page I was not logged in.

### Gif
![](http://g.recordit.co/MUbDVfEgSS.gif)

[2017-01-13 13:51] davydovanton opened #39 "User can't select title and repo name fields if title#new has errors"
How to reproduce this:
1. go to `/tasks/new`
2. check checkbox and submit button
3. you'll get error that title and body is missing
4. try to select or and repo name fields

[2017-01-13 13:53] davydovanton opened #40 "Change 'Md body' to 'Body' on tasks#new page"

[2017-01-13 13:54] davydovanton opened #41 "Fix body text area width after preview"
1. go to `/tasks/new`
2. select `preview` button
3. select `write` button

[2017-01-13 17:49] ihorie commented on #40
@davydovanton
Hi, I would like to work on this issue.
Can you describe more detail?

[2017-01-13 18:05] davydovanton commented on #40
Hey, @ihorie. Thanks for the help.
For reproduction the bug you need:

1. login (in local env you can create simple GitHub app [here]() and set `GITHUB_KEY` and `GITHUB_SECRET` variables)
2. open tasks#new page
3. select checkbox and push 'submit' button
4. You'll see errors on right side of the page, and also you'll see `Md body` error

The problem in hanami validation error keys. I think you nee

[2017-01-14 13:05] charlie-wasp commented on #41
@davydovanton what exactly is wrong with that? I can't see any problems

[2017-01-14 15:01] davydovanton opened #42 "Export from gitlab"
We need to find easily solution how to export issues from gitlab

[2017-01-14 16:11] Bugagazavr commented on #42
Most pain is a gitlab API

For example issues in gitlab has two IDs, global id - primary key, and internal autoincreament, internal id for project

When user pass url to issue on gitlab, url contains internal id for issue, but api working only with global IDs. ( documentation lies )

Documenation:
https://docs.gitlab.com/ee/api/issues.html#single-issue

Screenshots:
![screen shot 2017-01-14 at 18

[2017-01-15 15:07] ihorie commented on #40
@davydovanton
Thanks for your explanation!
BTW, I tried to run the app, but I can't access to http://localhost:2300
I followed the instruction described in README.md

`$ bundle install`
`$ npm install`
`$ bundle exec hanami db prepare`
`$ bundle exec hanami server`

Here's the log.
`[7481] Puma starting in cluster mode...
[7481] * Version 3.6.2 (ruby 2.3.0-p0), codename: Sleepy Sunday Serenity
[74

[2017-01-15 22:14] davydovanton commented on #39
closed by #43

[2017-01-15 22:14] #39 closed

[2017-01-15 23:34] #37 closed

[2017-01-15 23:35] davydovanton commented on #37
thanks for bug request 👍

[2017-01-16 00:03] davydovanton commented on #38
I fixed. Form for tasks#update didn't generate csrf token. That's why you had the error.
Thanks for bug report 👍

[2017-01-16 00:03] #38 closed

[2017-01-16 00:06] davydovanton opened #44 "Email messages does't work"
We have two different email messages:
1. for admins, when someone submits a new task
2. for users, when admin approve task

Now our messages doesn't deliver, we need to fix it

**Updated**

[code]

[2017-01-16 00:39] davydovanton commented on #40
@ihorie hey, what the problem do you have? Server shutdown without any commands?

[2017-01-16 22:01] r00takaspin commented on #41
@davydovanton
![image](https://cloud.githubusercontent.com/assets/2390121/22000491/0c783746-dc48-11e6-86c0-f5476b46d68d.png)

there is javascript error in console and there is no auto formatting when selecting language. Is it  described problem?

[2017-01-16 22:17] davydovanton commented on #41
@r00takaspin hey, you choose task language. It's mean that language code in task body and task language can be different. I mean other problem. You can see it in gif:
![sbyheo2tp0](https://cloud.githubusercontent.com/assets/1147484/22000868/b31ba9d4-dc52-11e6-9f82-37b9f6097096.gif)

[2017-01-17 02:43] charlie-wasp opened #46 "Cannot get webpack dev server manifest"
Hi,

It seems that hanami-webpack gem was updated recently, now on the project launch I receive an error `JSON::ParserError: 743: unexpected token at 'Cannot GET /webpack_manifest.json '` in browser.

I guess, guys renamed manifest file default and added env variable for overriding (check out this commit https://github.com/samuelsimoes/hanami-webpack/commit/1019f8efc217c9ae7290e220bf2c9e05ddd603ae

[2017-01-17 07:58] davydovanton commented on #46
Hey, thanks for a report. I updated my gems, and yes, I have this problem too. I think it will better to rename manifest file to `webpack_manifest.json` in webpack config

[2017-01-17 07:59] #46 closed

[2017-01-17 22:21] davydovanton commented on #11
@DaZzz Hey, can I ask you update the design for one new page? :)

It's leaderboard page. We need to create this page for users and mentors(task authors). I see it as a simple table with three columns (position, username(with a link to profile and avatar) and points). It'll be cool to separate first three positions (what do you think?).

[2017-01-18 08:24] DaZzz commented on #11
@davydovanton on it!

[2017-01-18 10:58] DaZzz commented on #11
![landing task new](https://cloud.githubusercontent.com/assets/2707291/22061450/0b787ea2-dd86-11e6-92db-3f4562e8c0b2.png)
![leaderboard](https://cloud.githubusercontent.com/assets/2707291/22061472/20947d54-dd86-11e6-90e4-ca9c5cc7627a.png)

[2017-01-18 11:27] davydovanton commented on #11
@DaZzz awesome 💚

[2017-01-20 12:56] davydovanton commented on #11
@DaZzz Hey, could you send me logo sketch? :)
I want to create  Twitter account and will be great to use logo here 😊

[2017-01-20 14:52] DaZzz commented on #11
Here is [the link](https://www.dropbox.com/s/w237gtgzbthwjc4/oss-board.sketch?dl=0) to sketch file. You can find all of the designs and logo there. Logo is located on `Logo` page. 🙂

[2017-01-20 14:52] davydovanton commented on #11
@DaZzz awesome. Thanks!

[2017-01-20 14:53] DaZzz commented on #11
Also I think you can actually start implementing designs. I could maybe help later with this as well. :)

[2017-01-20 15:15] davydovanton commented on #11
yep, good idea, I'll start working on index page 👍

[2017-01-23 00:49] davydovanton opened #50 "Invalid export link from github"
1. Open new task page
2. Try to export any issue from http://github.com/hanami/hanami.github.io/

[2017-01-23 19:07] davydovanton commented on #11
@DaZzz I added new design 🎉

You can check it here http://www.ossboard.org

Thanks a lot!

[2017-01-23 19:17] DaZzz commented on #11
Awesome! 🎉  You are welcome!

[2017-01-24 15:56] #50 closed

[2017-01-26 15:23] charlie-wasp commented on #44
I has been trying to fix that, but hit a dead end.

I started sidekiq with the command `sidekiq -r ./config/environment.rb` and that is, what I've got on mail send:

[code]
As we can see, problem is that `UserRepository` is not _loaded_ in `NewTaskNotificationWorker#perform`. I am not familiar with Hanami architecture, so I'm stuck on that, I don't know what it really means. I can guess that app w

[2017-01-26 15:44] davydovanton commented on #44
hey, thanks for research 👍
I think we can load app in sidekiq config but I need time for checking this idea

[2017-01-26 15:47] charlie-wasp commented on #44
FYI I already had to add `require_relative './initializers/sidekiq.rb'` in `environment.rb` to launch Sidekiq at all, so I guess command in `Procfile` may be wrong

[2017-01-26 16:30] davydovanton commented on #44
@charlie-wasp we can't do it because all initialize files (like redis) will load after this line. That's why we will have redis error 😞

I think I need to rewrite sidekiq configuration logic and replace sidekiq from initializer

[2017-01-26 17:08] charlie-wasp commented on #44
I will be glad to help. I will continue trying to crack this case, if you don't mind :)

[2017-01-26 17:14] davydovanton commented on #44
Yes, of course 🌟
You can use this guide (I think it will be helpful for you)
http://www.strauss.io/blog/2016-use-sidekiq-with-hanami.html

[2017-01-26 17:20] charlie-wasp commented on #44
Thanks, I read it already :)

[2017-01-27 04:12] thepry commented on #30
I can try

[2017-01-27 16:17] thepry commented on #42
To access the https://gitlab.com/gitlab-org/gitlab-ce/issues/27371 we need:
1. Replace '/` between organization and project with `%2F`
2. Get the scope-unique id (iid) `27371` and use it as a parameter for a query.
3. As a result we will get an array containing 1 (if id is correct and we have access) or 0 elements.

[code]

So it's quite easy if we do it on a server and have a valid gitlab api tok

[2017-01-28 16:55] #30 closed

[2017-01-28 19:59] davydovanton opened #53 "Create feature tests for testing UI and js"
Will be awesome to test our UI and js code. We can use capybara for that.

What we need to test primarily:
* Web app
  * New task page (create task, get issue)
* Admin app
  * Moderation page (approve task or not)
  * User page (block, unblock users)

[2017-01-28 20:02] davydovanton opened #54 "Post approved tasks in twitter account"
We need to update sidekiq worker to post all approved tasks in our twitter account (http://twitter.com/oss_board). I think `title #ossboard link` will goof format for tweets

[2017-01-28 20:03] davydovanton commented on #44
@charlie-wasp hey, any updates? Can I help you with this issue? :)

[2017-01-28 20:12] thepry commented on #54
I can do it

[2017-01-28 20:18] thepry commented on #42
And this one. I can work on the implementation

[2017-01-28 20:38] davydovanton commented on #42
@thepry cool, I can create gitlab token for this 👍

[2017-01-28 20:43] thepry opened #55 "New task form can not be submitted without logging in"
I think we should either display it to anonymous users and allow to submit it or require user to login first and only then he can access this form.

Or at least add some text explaining why "Create" button is disabled.

[2017-01-28 21:29] FChaack commented on #41
I made some tests in different browsers and currently, there is no bug with text area width.

[2017-01-28 21:30] davydovanton commented on #41
Thanks for help @FChaack 👍

[2017-01-28 21:30] #41 closed

[2017-01-29 01:45] davydovanton commented on #42
@thepry thanks for work 👍

[2017-01-29 01:45] #42 closed

[2017-01-30 13:16] davydovanton commented on #44
@charlie-wasp hey, I fixed sidekiq server (require boot file, you can read more [here](https://github.com/hanami/hanami/pull/720))

[2017-01-30 13:28] charlie-wasp commented on #44
@davydovanton hello, sorry, hadn't time recently :( So this problem is solved? Or solution should be verified?

[2017-01-30 14:31] charlie-wasp commented on #44
@davydovanton done a little of work, Sidekiq again gave me hard time with connection pools, I opened PR https://github.com/davydovanton/ossboard/pull/62 for corrections, these changes made sidekiq work for me (at last).

This task became the task about sidekiq fixes :)

But speaking about email, I see in your original comment there was connection problem with the 25 port, but now I see, that in pr

[2017-01-30 15:21] davydovanton commented on #11
@DaZzz could you help with two issues? :)
## First
I want to improve UX for task status. I have two different states:
1. Assign user (by GitHub login) to task
![screenshot 2017-01-30 18 16 25](https://cloud.githubusercontent.com/assets/1147484/22428535/78f18514-e718-11e6-9f53-17cbead97cde.jpeg)

2. Select status for task
![screenshot 2017-01-30 18 16 25](https://cloud.githubusercontent.com/assets/

[2017-01-31 08:30] DaZzz commented on #11
I will work on it 👌

[2017-01-31 12:03] davydovanton commented on #11
oh, sorry. I fixed it :)
@DaZzz

[2017-02-01 00:24] davydovanton commented on #54
Fixed, thanks 👍

[2017-02-01 00:24] #54 closed

[2017-02-01 00:24] davydovanton commented on #44
Fixed

[2017-02-01 00:24] #44 closed

[2017-02-01 15:13] davydovanton commented on #53
What we need to test:
1. Switcher on index page (http://www.ossboard.org)
2. Task status filter on task page (http://www.ossboard.org/tasks)
3. Export logic on new page (http://www.ossboard.org/tasks/new)
4. Preview switcher on new page (http://www.ossboard.org/tasks/new)

[2017-02-01 15:38] davydovanton opened #64 "Create language filter on tasks page"
## What we need

Simple lang filter for `/tasks` page like status filter.
![screenshot 2017-02-01 04 16 48](https://cloud.githubusercontent.com/assets/1147484/22513253/b9e84018-e8ac-11e6-84d5-522587a67124.jpeg)
![screenshot 2017-02-01 04 16 53](https://cloud.githubusercontent.com/assets/1147484/22513254/ba100c60-e8ac-11e6-829e-b46db6de0d63.jpeg)

## Solution

You need to send `lang` attribute to `

[2017-02-01 15:43] davydovanton commented on #54
I checked this code on production and all works correct. Good job 👍
https://twitter.com/oss_board/status/826817959993683972

[2017-02-01 15:52] davydovanton opened #65 "Export from github/gitlab: detect complexity level"
Will be good if our export logic can detect complexity level by issue labels. We can use `easy`, `medium` and `hard` issue for tracking this attribute

[2017-02-01 23:50] davydovanton opened #67 "Twitter messages: use shortener for links"
We can use any shortener service for task links.

For this we need:
1. select any popular shortener service
2. get information how we can send request to service
3. send request from worker
4. generate new short URL link and paste it to tweet message

### How to get request information
For example we will work with https://git.io/.

You can open site and short link. After that you'll see request p

[2017-02-02 00:07] thepry commented on #67
I can do it

[2017-02-02 00:10] davydovanton commented on #67
@thepry cool 👍
But before it, please tell me what service you will choose, okay?

[2017-02-02 06:57] FChaack opened #69 "Footer has not fixed to page bottom"
Currently, for the big screen, footer has not fixed to page bottom.
![footer](https://cloud.githubusercontent.com/assets/7114795/22539864/ed84b5e2-e92d-11e6-8490-1625f1a3b570.png)

[2017-02-02 20:54] #40 closed

[2017-02-03 00:43] #67 closed

[2017-02-03 00:50] davydovanton opened #73 "Fix styles for images in task body"
When we create a new task with large images (from github for example) we have style error:
![screenshot 2017-02-03 03 43 56](https://cloud.githubusercontent.com/assets/1147484/22574973/a50b438a-e9c3-11e6-96b3-88ee264876ab.jpeg)

Also, you need to fix new task page:
![screenshot 2017-02-03 03 50 59](https://cloud.githubusercontent.com/assets/1147484/22575029/07fd21de-e9c4-11e6-884b-ba601bdd2c94.jpe

[2017-02-03 00:52] davydovanton commented on #73
Real example: http://www.ossboard.org/tasks/28

[2017-02-06 02:18] #64 closed

[2017-02-06 18:52] thesunwave commented on #73
Resolved via #80

[2017-02-07 12:20] #73 closed

[2017-02-11 09:23] moofkit commented on #53
@davydovanton I can take this issue.
But I have some questions:
1. What driver we can use? Each driver has pros and cons. I.e. phantomjs is fast, but some times test is failed without any resons. Firefox/chrome is slow, but it's close to real using.
2. Can I use some abstraction layer for capybara? I'm talking about https://github.com/natritmeyer/site_prism. The main idea that you have an page obj

[2017-02-11 11:04] moofkit opened #83 "Lost session after login"
If after login refresh page or go to another page you will lost your session.
![Demo](https://monosnap.com/file/tSoOmECM1Ppf3pY9NImPnTWakgrvCA.png)

There is a session right after login:
[code]

And after refresh:
[code]

And now I'm stuck. It seems that auth part of application use different session storage than others part.

[2017-02-11 14:27] moofkit commented on #53
Also have an issue with configuration of capybara.
And this is reason https://github.com/ossboard-org/ossboard/blob/master/spec/support/capybara.rb#L5

I've changed it to ::Hanami::App.new as explainde here https://github.com/davydovanton/rspec-hanami/issues/1
but then i have another issue `app.rb:21:in 'initialize': wrong number of arguments (given 0, expected 2) (ArgumentError)`
That seems reaso

[2017-02-11 14:38] davydovanton commented on #83
Hey, thanks for bug report. I can't reproduce this bug on my local and heroku servers. Could you take this issue?

[2017-02-11 15:04] inpego commented on #53
I'm already working on this task using phantomjs and poltergeist. Thank you for attracting my attention to site_prism.

[2017-02-11 16:00] moofkit commented on #53
@inpego ok! If you have some questions about site_prism or how to use it you can ask me.

btw how you solved this issue with `capybara.app`? :)

[2017-02-11 16:05] moofkit commented on #83
It seems like one of my browser extensions do this.
Try another browser and it works as expected. Try to find out

[2017-02-11 16:12] moofkit commented on #83
I supouse this issue can be closed. Because it some extension problems not project.

[2017-02-11 16:14] #83 closed

[2017-02-11 19:47] inpego commented on #53
I had no problems with the capybara, try checkout my branch and run tests.

[2017-02-12 22:49] #65 closed

[2017-02-14 00:01] #69 closed

[2017-02-15 10:13] FredrikAugust commented on #55
Agreed, the current implementation is a bit weird, perhaps just redirect guests to the register/login page if they click the "New task" button?

[2017-02-20 01:57] #53 closed

[2017-02-22 00:09] davydovanton opened #93 "Show all user repos on settings page"
Now we have simple code which displays only first 100 user repos:
https://github.com/ossboard-org/ossboard/blob/master/apps/api/controllers/user_repos/show.rb#L20-L22

What we need show (call N times URL until data will be empty) all repos on this page:
`http://www.ossboard.org/users/<username>/settings`

P.S.: Also we need to update our tests for this action for this

[2017-02-23 15:48] alishersadikov commented on #93
@davydovanton I would love to work on this.

[2017-02-25 07:29] davydovanton opened #94 "Add missing tests"
We need to cover some methods with tests. For this, you need to find all `TODO` comments (`git grep TODO` command in shell) and add tests for all these methods 👍

_**P.S.:** For view specs we need to call method with `#to_s` method and match result as an HTML string_

[2017-02-26 15:26] davydovanton opened #95 "Parse links in task description"
We need to parse any links in `md_body` task field. For example:
Put this text to task body:
[code]

### Expected result
Generate `<a>` tag for link

### Reality
Nothing

[2017-02-27 01:17] alishersadikov commented on #93
Fetching all user repos (over 100) was not hard. But I am working on fixing tests and that is getting a little tricky. When I cloned the repo, 7 tests in spec/ossboard/repositories/task_repository_spec.rb were failing, so I am looking into those too. Getting "{\"error\":\"Unauthorized\"}" related to gitlab issues in some other tests. I am wondering how user_repos could have caused that.

@davydova

[2017-02-27 01:20] alishersadikov commented on #93
actually, CI is passing those task_repository specs so it is just the new ones I need to fix.

[2017-03-01 14:49] alishersadikov commented on #93
#

[2017-03-02 22:39] #95 closed

[2017-03-07 11:53] davydovanton opened #103 "Pass all issue on letsvalidate.com site"
We need pass all issues on https://www.letsvalidate.com/?url=http://www.ossboard.org.

- [ ] Meta description not found or empty.
- [ ] Character set not found.
- [ ] `<html>` tag should have an explicit `lang` attribute.
- [ ] App icons for mobile devices not found.
- [ ] Site map(s) not found at `http://www.ossboard.org/sitemap.xml.`
- [ ] Content is not gzipped.
- [ ] At least one of `og:url`,

[2017-03-07 11:57] davydovanton opened #104 "Process checkbox in md description"
### How to get this error
Create task with checkbox (`- [ ]` or `- [x]`).

### Expected result
Task body have checkbox

[2017-03-15 10:18] davydovanton opened #108 "Default complexity doesn't work"
### How to reproduce this bug
1. Open `/tasks/new` page
2. Try to export this task https://github.com/davydovanton/shallow_attributes/issues/8
3. Check complexity field (empty)

### What we need to do
Set `easy` as default if task doesn't have any complexity issues

[2017-03-18 23:44] davydovanton opened #109 "Validate incorrect chars in user assigned form"
We need to set only valid github usernames in this form:
![screenshot 2017-03-19 02 44 14](https://cloud.githubusercontent.com/assets/1147484/24076899/f630e498-0c4d-11e7-835c-4e7932df4255.jpeg)

[2017-03-26 11:36] davydovanton commented on #108
Fixed by #110

[2017-03-26 11:36] #108 closed

[2017-03-27 05:37] morrme commented on #103
I am new but I'd like to help. I think I've located the solutions for most of these.

[2017-03-27 09:03] davydovanton commented on #103
@morrme awesome, if you have any questions feel free to ask 👍

[2017-03-27 09:36] morrme commented on #103
Sure.  So far:

- The meta tags can be created with the og: tags , and I can get that from the current info on the site.

-  I can use /apps/web/assets/images/header-logo.png for the `og:image` tag (and `twitter:image` )  if that works for you.

- The character set and lang attributes are quick edits

- A site map can be generated via a web tool like https://www.xml-sitemaps.com/  .

- Do you have

[2017-03-29 10:26] charlie-wasp commented on #109
I'll take it, if it's ok :)

[2017-03-29 10:28] davydovanton commented on #109
@charlie-wasp sorry, but @Wayzyk works on it 👍

[2017-03-29 10:30] charlie-wasp commented on #104
@davydovanton is anybody working on it already?

[2017-03-29 10:35] davydovanton commented on #104
As I know - nobody 👍

[2017-03-29 10:37] charlie-wasp commented on #104
Allright then, I'll take it :)

[2017-03-29 11:30] Neyaz commented on #94
@davydovanton Can i take it?

[2017-03-29 11:39] davydovanton commented on #94
of course!

[2017-04-01 14:18] Neyaz commented on #94
@davydovanton I grep TODO comments, but all of them contain not in node-modules and public folders. Can you explain how i can find those methods?

[2017-04-02 15:41] davydovanton commented on #94
Hey, I checked this issue again and if I understand right - all `TODO` was complete.

Thanks for helping, I'll close the issue 👍

[2017-04-02 15:41] #94 closed

[2017-04-03 00:13] #104 closed

[2017-04-26 14:39] bricesanchez opened #117 "Website down"
http://www.ossboard.org/

Application error
An error occurred in the application and your page could not be served. If you are the application owner, check your logs for details.

:'(

[2017-04-27 12:51] davydovanton commented on #117
Hey, yep, I forgot to pay Heroku for ossboard dino. Thanks!

[2017-05-01 15:48] inem opened #119 "Add ability to delete open tasks for authors"

[2017-05-01 18:04] davydovanton commented on #119
what do you want to see in this feature?

[2017-05-02 05:08] #117 closed

[2017-05-02 17:02] inem commented on #119
Basically I wan't to delete the ticket I created: http://www.ossboard.org/tasks/19
But it seems there's no way to.

[2017-05-03 05:09] artofhuman commented on #119
I think we should create states. eg `opened, resolved, closed`, wdyt?

[2017-05-03 05:17] artofhuman commented on #119
Hm, after assigning task to myself I can close or complete it ;)

[2017-05-03 05:35] inem commented on #119
@artofhuman thanks, that was good enough solution for me!

[2017-05-03 09:07] davydovanton commented on #119
@artofhuman we have all these states :)
https://github.com/ossboard-org/ossboard/blob/master/lib/ossboard/entities/task.rb#L22-L28

@inem you can close the task. For this you need to login, open your task, assign it to nobody and after that close this 👍

[2017-05-03 09:07] #119 closed

[2017-05-20 00:56] davydovanton opened #120 "Add sitemap and other cool stuff"
From @morrme:

1. We have icon image [here](https://github.com/ossboard-org/ossboard/blob/master/apps/web/assets/favicon.ico)
2. I think better place is `/public` folder
3. Agree with Gzip. Can we do it with webpack?

[2017-06-14 09:15] davydovanton opened #121 "Invalid url for github-pages sites"
## How to reproduce
1. Open new task page
2. try to import `https://github.com/hanami/hanami.github.io/issues/345`

[2017-06-14 09:59] charlie-wasp commented on #121
@davydovanton hello! What is wrong with this link? I just tried to import it on ossboard.org (using “Export” link in the taks form, somewhat confusing btw), and it seems to work fine

[2017-06-15 23:22] davydovanton opened #122 "Use dry-system for developer dependencies (instead initializers)"

[2017-07-08 13:01] davydovanton opened #127 "Flaky tests in TaskRepository"
We have [flaky tests](https://github.com/nodejs/node/wiki/Flaky-tests) and we need to fix it

[code]

And one more
[code]

[2017-07-11 14:26] #122 closed

[2017-07-11 14:26] davydovanton opened #130 "API for future projects"

[2017-07-11 14:28] davydovanton opened #131 "Use interactors for tasks#create actions (web/admin)"

[2017-07-12 23:57] davydovanton opened #133 "Load lib/ossboard to application container"

[2017-07-13 00:09] #131 closed

[2017-07-13 21:42] makketagg commented on #121
Example with bug
http://www.ossboard.org/tasks/41

[2017-07-13 23:01] davydovanton commented on #133
It's really hard to work with dry-system in hanami apps. Closed

[2017-07-13 23:01] #133 closed

[2017-07-14 22:07] davydovanton opened #137 "Use hanami containers instead dry-containers"

[2017-07-16 14:02] artofhuman opened #140 "Problem with local tests"
I have failed tests
`bundle exec rspec`

[code]
@davydovanton mb u know about this errors ?

[2017-07-16 15:11] davydovanton commented on #140
Hm, could you try to build assets locally and after that call rspec? For this just call `webpack` in console

[2017-07-16 15:37] artofhuman commented on #140
`./node_modules/.bin/webpack` fixed this problem

[2017-07-16 15:38] davydovanton commented on #140
@artofhuman can I close this issue if problem solved?

[2017-07-16 15:42] #140 closed

[2017-07-17 08:49] davydovanton commented on #127
Fixed by https://github.com/ossboard-org/ossboard/pull/141

[2017-07-17 08:49] #127 closed

[2017-07-19 15:58] davydovanton opened #143 "Use hanami-serializer for JSON API"

[2017-08-24 20:23] davydovanton opened #153 "Add db cleaner for specs"
With it we can fix many flaky specs, I hope

[2017-08-29 18:26] #137 closed

[2017-08-29 18:26] #153 closed

[2017-09-03 17:29] davydovanton opened #156 "Replace to interactor/operator"
- [ ] `apps/admin/controllers/tasks/update.rb`
- [ ] `apps/admin/controllers/users/update.rb`
- [ ] `apps/web/controllers/tasks/index.rb`

[2017-09-07 17:52] davydovanton opened #158 "Unit specs for interactors"

[2017-09-07 17:53] #109 closed

[2017-09-08 15:04] davydovanton opened #160 "Event sourcing?"
I think we can try to rewrite ossboard to new architecture

[2017-09-11 15:20] nsklkn opened #162 "Undefined local variable or method `form` while updating tasks from admin panel"
Steps to reproduce:
1. Login as admin
2. Tasks -> Edit
3. Clear Md body field (so task will be not valid)
4. Click on Update button

[code]

[2017-09-11 15:22] nsklkn commented on #162
As I can see, this behaviour spreads all over in admin panel, at least at /admin/users/ , /admin/tasks

[2017-09-12 13:47] davydovanton commented on #162
thanks for report! could you try to solve this but?

[2017-09-12 13:49] davydovanton opened #163 "Drop leaderboards from project"

[2017-09-12 14:18] nsklkn commented on #162
sure

[2017-09-13 20:44] nsklkn commented on #162
I've done temporary fix, there is no 500 more, but we should decide how to handle fields that not passed validation. Should I show flash with errors on top of the page or highlight every field, like Simple Form does?
Also, I'm a bit stuck, may be you can advice me something and I will not spent extra time looking for a solution. The point is that when we update tasks/users in `Update` action, if o

[2017-09-20 12:25] davydovanton opened #168 "Drop feature specs"
I think now feature specs cost so much that's why we need to drop it

[2017-10-02 15:14] arr-dev commented on #143
I could work on this

[2017-10-02 18:53] davydovanton commented on #143
@arr-dev it will be great 👍

[2017-10-05 17:49] davydovanton opened #173 "Replace task statuses to separate module"
I think it will be good to replace statuses to separate module and use it in all places

[2017-10-07 12:41] davydovanton opened #175 "Bot: send message to issue that issue was added to ossboard"
we have @ossboardbot. It will be great to send comment to issue (if task has a issue link) that task was added to project. Something like this:

[code]

[2017-10-07 12:45] davydovanton opened #176 "Task flag 'my finst PR'"
We can add new task flag like 'my finst PR'. It should be a checkbox like this:
![screenshot 2017-10-07 15 45 17](https://user-images.githubusercontent.com/1147484/31307962-94b95ed4-ab76-11e7-8730-f4d4e2d5de2f.jpeg)

[2017-10-07 12:47] davydovanton opened #177 "Add ability for searching by 'my fist PR' flag"
reference to https://github.com/ossboard-org/ossboard/issues/176

[2017-10-07 12:49] davydovanton opened #178 "Write worker for checking linked issues status"
If issue was closed we need to mark task as `maybe closed` and display it in admin moderation page

[2017-10-07 13:00] davydovanton opened #179 "Fix search bug"
![zm4gzwnrmg](https://user-images.githubusercontent.com/1147484/31308078-aaf6f330-ab78-11e7-9ce5-99c04ffc07ea.gif)

[2017-10-08 20:20] davydovanton opened #182 "Add specs for Core::HttpRequest class"

[2017-10-11 18:38] iSarCasm commented on #158
Shouldn't it be closed?

[2017-10-11 19:56] davydovanton commented on #158
I think yes. Thanks! 👍

[2017-10-11 19:56] #158 closed

[2017-10-11 22:07] davydovanton opened #185 "Put all workers to container"

[2017-10-14 18:58] davydovanton opened #187 "Move from heroku to DO"

[2017-10-17 18:38] #179 closed

[2017-10-18 18:05] #143 closed

[2017-10-19 20:30] davydovanton opened #189 "Grab base metrics from instances"

[2017-10-21 14:27] nsiregar commented on #182
Hello,
i would like to help writing specs for this issue but i have several question
1. In `Core::HttpRequest` there is `get` and `post` class method, where i should test the `post` method? Since creation of new task require authentication
2. For `http` instance method why the `http.verify_mode = OpenSSL::SSL::VERIFY_NONE` ? since this option is used only for debugging not for production.

Thank y

[2017-10-23 13:55] evgenygarl commented on #176
Hello @davydovanton ,
I'd like to help with this issue. Could you tell, are there any additional requirements for it?

[2017-10-23 19:50] evgenygarl commented on #176
Hm, I see, this is already in PR 😄

[2017-11-03 14:24] davydovanton opened #193 "Extract dry-system lib to separate gem"

[2017-11-04 07:18] denismaster opened #194 "Add .NET languages to language list"
There are a lot of good languages in select list to choose, but there is no options available now for C# and other .NET languages. .NET now is true Open Source, and there are a lot of projects based on it, opensourced too.
It will be very good to see more languages.

[2017-11-05 15:41] davydovanton commented on #194
good idea, I like it 👍
Could you create PR for this? (I can help with any questions)

[2017-11-05 15:42] davydovanton opened #195 "Create weekly digest with all new tasks"
WDYT, will it helpful for someone?

[2017-11-06 12:06] #194 closed

[2017-12-08 14:33] davydovanton opened #198 "Create pagination for the index page"

[2017-12-10 17:16] davydovanton opened #199 "Weekly digests"

[2017-12-14 15:30] davydovanton opened #200 "Add analysis to site"
We want to track activity and user counts from site

[2017-12-16 20:35] #199 closed

[2018-01-06 13:02] davydovanton opened #202 "Integrate sentry for catching errors"

[2018-01-20 16:48] #193 closed

[2018-01-20 16:49] davydovanton opened #203 "Start use logger in workers"

[2018-02-06 16:27] davydovanton opened #204 "Add hanami dry container gem"

[2018-06-11 15:20] davydovanton opened #205 "Update monads to 1.0 version"

[2018-06-15 16:59] davydovanton opened #207 "Rethink how to complete a tasks"

[2018-06-17 19:18] davydovanton opened #208 "Rethink task compilation flow"

[2018-06-18 06:38] artofhuman commented on #208
Just idea:

- Make a list of repositories.
- Add feature for user to suggest a new repository
- With some kind of periodicity visit this repos by api and update/create tasks in OSSBoard

Pros
---
- We can add popular repos to ossboard, and collect tasks for the first time

Cons
---
- Repo`s owners do not control this flow
- Github can have a limit for api requests

It can be first time concept to

[2018-07-07 19:14] davydovanton opened #209 "Use semantic logger as a default hanami logger"

[2018-07-31 16:45] kalys commented on #160
No.

- It's hard to implement and maintain.
- Ruby is not good with atomicity.
- Event sourcing is a trade-off between performance and code maintainability. Do you really need this kind of performance?

[2018-08-02 09:28] davydovanton commented on #160
hey, thanks for  feedback.

I want to explain why I want to do it. This project is just a sandbox with small (or medium) functionality for me. It's mean that I have no idea how to develop it in a business perspective. But I can try to use any tech idea here. And event sourcing is a good thing to get some real and hardcore experience.

In this case, we can get real oss project with full event sourc

[2019-02-02 18:26] davydovanton opened #211 "Drop unnecessary assignment logic from task page"

[2019-02-09 17:16] #130 closed

[2019-02-09 17:17] #156 closed

[2019-02-09 17:17] #160 closed

[2019-02-09 17:17] #173 closed

[2019-02-09 17:19] #185 closed

[2019-02-09 17:19] #187 closed

[2019-02-09 17:19] #189 closed

[2019-02-09 17:19] #200 closed

[2019-02-09 17:19] #203 closed

[2019-02-09 17:19] #204 closed

[2019-02-09 17:20] #207 closed

[2019-02-09 19:51] davydovanton commented on #205
in master

[2019-02-09 19:51] #205 closed

[2019-02-09 21:32] #211 closed

[2019-02-14 19:16] davydovanton opened #213 "Add task template for all new tasks"